<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/main.css">
</head>
<body>
    <header id="myHeader">
        <h1
        class="animate_animated
                animate_heartbeat
                animate_infinite"><span>Aremo</span> Rufus Testimony</h1>
     <div class="topnav" id="myTopnav">
        <ul>
            <a href="#home"><li>Home</li></a>
            <a href="#about"><li>About</li></a>
            <a href="#Skill"><li>Skill</li></a>
            <a href=""><li>contact</li></a>
          
        </ul>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
    </div> 
    </header>
    <section class="section-1" id="home">
      <div class="section-1-content">
        <h1>I am a web develeoper</h1>
        <p>
            my name a
             is Aremo Rufus Testiomny
            obviously i am programmer and infact a fulstack web developer 
            completing over 30+ website project 
        </p>
      <button><a href="#about">View more</a></button>
      </div>
      <div class="section-1-img">

      </div>



    </section>

    <section  class="section-2" >
      <h1>About Me</h1>
      <div class="section-2-content-container">
        <div class="section-2-img">
          <img src="/image/WhatsApp Image 2024-03-17 at 07.42.20_edd13c24.jpg">
          <p>I am a passionate web developer <br>
            Ready to develope magical website for my client and <br>To Impact the world of tech with the power of the web.</p>

        </div>
      <div id="about" class="section-2-content">
        <p><span>Name:</span> AREMO RUFUS TESTIMONY</p>
        <p><span>State of origin:</span> Oyo state</p>
        <p><span>Nationality:</span> NIGERIAN</p>
        <p><span>Date of Birth:</span> 11th of July, 2008</p>
        <p><span>Academic status:</span> 0,level student</p>
        <p><span> Religion:</span> Christianity</p>
      </div>

      </div>

    </section>
    <section class="section-3" id="Skill">
      <h1>My Skills</h1>
      <div class="section-3-img">
        <h2>I am able to build highly functional and responsive web applications including the client side and the server side with the tools below</h2>
        <div class="fullstack">
          <div class="front-end">
            <h2>Front End Web development</h2>
            <a href="/html"><img src="/image/HTML5_logo_and_wordmark.svg.png" alt=""></a>
            <a href="/css"><img src="/image/images.png" alt=""></a>
            <a href="/bootstrap/"><img src="/image/images.jfif" alt=""></a>
            <a href="/javascript"><img src="/image/download (1).jfif" alt=""></a>
            <a href="/jquery"><img src="/image/download (2).png" alt=""></a>
            <a href="/ejs"><img src="/image/download (3).jfif" alt=""></a>
          </div>
  
          <div class="back-end">
            <h2>
              Back End Web development
            </h2>
            <a href="/nodejs"><img src="/image/node-js-tutorial.png" alt=""></a>
            <a href="/expressjs"><img src="/image/download (2).jfif" alt=""></a>
            
            <a href="/react"><img src="/image/download (5).jfif" alt=""></a>
            <a href="/sql"><img src="/image/download (4).jfif" alt=""></a>
          </div>
        </div>


        
        
        
        
      </div>


    </section>

    <section class="section-4" id="contact">
    <h1>My Contact</h1>
    <div class="section-4-content">
      <p>Do you want to send a message to me </p>
      <p>Fill the input</p>
      

      <form class="form-container">

        <label for="street">Email:</label>
        
        <input id="from" class="title" type="email" placeholder="Email" required>
        <label for="pet">Subject:</label>
        <input id="subject" class="content" type="text" placeholder="subject" required>
        <label for="pet">text:</label>
        <textarea placeholder="Text" id="text" cols="30" rows="10"></textarea>
        <input type="submit" class="submit" placeholder="send message">
      </form>
      
    
    </div>
    </section>

    <footer class="bg-body-tertiary text-center py-4">
      <div class="footer-container">
        <h1><span>Aremo</span><br> RufusTestimony</Ri:a></h1>
          <div class="row">
              <!-- Social Media Icons -->
            <div class="col-md-4">
              <a href="https://www.facebook.com/profile.php?id=100086207324383">Facebook</a>
              <a href="https://github.com/rufux12345">Github</a>
              <a href="https://www.instagram.com/aremorufustestimony?igsh=YzljYTk1ODg3Zg==">Instragram</a>
              <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fx.com%2FRTestimony4721%3Ft%3DzUaTgIX20WAO2WVIJzGtsQ%26s%3D09%26fbclid%3DIwAR1sHEKk6ae6_9CCfDVAvttKKWiqTsJcMl6nMkc_3tctSHrwyAXG4uGV7wg_aem_ASKBIf3-dkc6hUPghfXmO2kJfAL8-2tggvbitRZ3tBTkYmHtUYym-l6_TvDVhSkk9uBcyojqua4vjn5yiM13JYbO&h=AT1rd2vUCmVxBaofGAGVXnI7sN9Ch6aCUMKmOV649Z2oG7nQyfXjdENdUkHli2wgkWBKQzJijWGaFM6XbSo_oApz3bE1gv_zaRQRPsKNoy2QOtL9QjRQyIL7t1nt-kNivUNsxg">Twitter</a>
            </div>
  
              <!-- Navigation Links -->
              <div class="col-md-4">
                  <a href="#">Home</a> |
                  <a href="#about">About</a> |
                  <a href="#skill">Skill</a> |
                  <a href="#contact">Contact</a>
              </div>
  
              <!-- Other Information -->
              <div class="col-md-4">
                  <p>© 2024 Aremo Rufus Testimony. All rights reserved.</p>
              </div>
          </div>
      </div>
  </footer>
  
    <script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
</script>
<script src="/js/app.js"></script>
</body>
</html>